.App {
  text-align: center;
}

.search1 {
  padding-left:0em;
  width: 500;
/*  float: left;
*/}

.search2 {
  padding-right: 0em;
  width: 500;
/*  float: right;
*/}

.article {
  padding: .5em;
  list-style: none;
}

.more-articles-icon {
  font-size: 1em;
}
